/* Style untuk seluruh html */
body{
    font-family: Roboto;
}


/* Style untuk RegMember.html  */

#backgroundRegMember {
    background: url("Page_RegMember.d3a12dd76124.jpg") center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    opacity : 100%;
    color: white;
}

.table {
        color: white;
}


/* Style untuk Thankyou.html  */

#backgroundThanks {
    background: url("Page_Thanks.2d1d29180e5d.jpg") center center fixed;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    opacity : 100%;
}
.textThankYou{
color: white;
padding-top: 15%;
}

#buttonThanks{
    background-color: #C4C4C4;
    color: #000000;
}
