{% load staticfiles %}
{% load static %}

<body id="backgroundRegMember">
    {% include 'navbar.html' %}


    <section>
        <div class= "container-fluid">
            <h1 class="text-center"> Formulir Registration Member </h1>
            <div class="row">
                <div class="col-sm-9">
                        <form id = 'form' method="POST" action="{% url 'RegMember:DataRegistration' %}">
                            {% csrf_token %}
                            {{ form_Member.as_p }}

                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                </div>

                <div class="col-sm-2">
                    <table class="table">
                        <thead>
                            <th>Full Name</th>
                        </head>
                            {% for i in data_Member %}
                            <tr>
                                <td> {{i.full_name}} </td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
            <br>
            <br>
        </div>
    </section>
</body>
</html>