{% load staticfiles %}
{% load static %}

<body>

    {% include 'navbar.html' %}
    <section>
        <div class= "container-fluid text-center" id="backgroundThanks">
            <div class="textThankYou">
            <h1 > Thank You</h1>
            <h2 > Thanks for your participation in our website </h2>
            <br>
            <a class="btn btn-secondary btn-lg" role="button" id = "buttonThanks" href="/">Home</a>
        </div>
        </div>
    </section>
</body>
</html> 