{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Neavent</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/zQbyEia.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/TP1.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }

  </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
        <a class="navbar-brand" href="#" style="background-color: white;" ></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: black;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="text-align: center; ">
              <li class="nav-item active">
                <a class="nav-link" href="/">
                <img style="float: left; " width="60px" height="70px"src="https://i.imgur.com/zQbyEia.png" >
                </a>
              </li>
              <li class="nav-item active">
                <a style="color:white; padding-top: 1.5vw;font-size: 25px; padding-left: 3vw" class="nav-link" href="/About/">Profile</a>
              </li>
              <li class="nav-item">
                            <a style="color:white; padding-top: 1.5vw;font-size: 25px; " class="nav-link" href="/News/">News</a>
                        </li>
                        <li class="nav-item">
                <a style="color:white;  padding-top: 1.5vw; font-size: 25px" class="nav-link" href="/Event/">Event</a>
              </li>
              <li class="nav-item">
              {% if user.is_authenticated %}
              <a style="color:white;padding-top: 1.5vw; font-size: 25px; padding-left: 60vw " class="nav-link" href="{% url 'TP1:logout' %} ">Logout</a>
              {% else %} 
              <a style="color:white;padding-top: 1.5vw; font-size: 25px; padding-left: 60vw " class="nav-link" href="{% url 'social:begin' 'google-oauth2' %} ">Login</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </a>
      </nav>




  <div class="bodyy">
    <center style="color: white; padding-top: 15vw">
      <h1 class="welcome"> WELCOME </h1>
      <h5 class="sub" style="font-size: 2vw; "> To Neavent </h5>
      <p class="sub" style="text-decoration: underline;"> “Your News and Event won’t Escape our Blackhole” </p>
    </center>
  
  <a  style="margin: 4vw; margin-left:40%" role="button" class="btn btn-outline-warning" href="#demo1">Event</a>
  <a style="margin: 4vw" role="button" class="btn btn-outline-warning" href="#demox">News</a>

  <div id="demox"></div>
<!------------------------------------------------------------------------------>
  <div id="demo" class="carousel slide" data-ride="carousel" style="margin-top: 20vw">

    <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-color:#808080; height: 15vw; opacity: 0.8">
          <center style="color: white">
            <h1 style="padding-top: 4vw; font-size:5vw"> NEWS </h1>
          </center>
        </div>


        {% for news in Newses %}
        <div class="carousel-item" style="height: 14vw">
          <center style="color: white; margin: 6.5vw; margin-top: 1vw">
            <h1 style="background-color:#696969; font-size: 3vw; opacity: 0.8"> {{ news.judul }} </h1>
            <div style="background-color: #808080; text-align: justify;  opacity: 0.8"> 
              <p style="margin: 2vw; margin-top:0vw; font-size: 1.5vw;"> {{ news.deskripsi }} </p>
            </div>
          </center>
        </div>
        {% endfor %}
      </div>
      <center><a style="margin-top: 2vw;" role="button" class="btn btn-outline-light" href="/News/">Read More</a></center>

    <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>


<!------------------------------------------------------------------------------>
    <div id="demo1" class="carousel slide" data-ride="carousel" style="margin-top: 30vw">

    <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-color:#808080; height: 15vw; opacity: 0.8">
          <center style="color: white">
            <h1 style="padding-top: 4vw; font-size:5vw"> EVENT </h1>
          </center>
        </div>


        {% for event in Events %}
        <div class="carousel-item" style="height: 14vw">
          <center style="color: white; margin: 6.5vw; margin-top: 1vw;">
            <h1 style="background-color:#696969; font-size: 3vw; opacity: 0.8"> {{ event.judul }}</h1>
            <div style="background-color: #808080; text-align: justify; opacity: 0.8"> 
              <center><p style="margin: 0vw; font-size: 1.5vw">{{event.tempat}}</p></center>
              <p style="margin: 2vw; margin-top:0vw; font-size:1.5vw;"> {{ event.deskripsi }} </p>
            </div>
          </center>
        </div>
        {% endfor %}
      </div>
        <center><a style="margin-top: 2vw;" role="button" class="btn btn-outline-light" href="/Event/">Read More</a></center>

    <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo1" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo1" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

      
    </div>
    <br><br>
  </div>


</body>
</html>