{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/zQbyEia.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/event.css" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <script src="{% static 'js/acordion.js' %}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/event.css" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->

</head>
<body>
<!--   {% for e in event %}
      <div style="border: 0.05vw solid #808080; color:white"> {{e}} </div>
  {% endfor %} -->

<div id="my_list">
  <table class = "table table-striped table-dark" style="margin: 1%;opacity: 0.9">
    <div>
      <br>
    </div>  

    <thead>
      <th style="text-align:center">My Event List</th>
    </thead>

    <tbody>
      {% for e in event %}
        <tr>
          <td>{{e}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>