{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/zQbyEia.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/event.css" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <script src="{% static 'js/acordion.js' %}"></script>
  <script src="{% static 'js/validation.js' %}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/event.css" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->

</head>
<body>
    <nav class="navbar transparent navbar-expand-lg navbar-dark" style="background-color: black;">
        <a class="navbar-brand" href="#" style="background-color: white;" ></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: black;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="text-align: center; ">
              <li class="nav-item active">
                <a class="nav-link" href="/">
                <img style="float: left; " width="60px" height="70px"src="https://i.imgur.com/zQbyEia.png" >
                </a>
              </li>
              <li class="nav-item active">
                <a style="color:white; padding-top: 1.5vw;font-size: 25px; padding-left: 3vw" class="nav-link" href="/About/">Profile</a>
              </li>
              <li class="nav-item">
                            <a style="color:white; padding-top: 1.5vw;font-size: 25px; " class="nav-link" href="/News/">News</a>
                        </li>
                        <li class="nav-item">
                <a style="color:white;  padding-top: 1.5vw; font-size: 25px" class="nav-link" href="/Event/">Event</a>
              </li>

              {% if user.is_authenticated %}
              <li class="nav-item"> <p style="color:white;padding-top: 1.5vw; font-size: 25px; padding-left: 50vw " class="nav-link">Hello, {{user.first_name}} {{user.last_name}}</p>
              </li>

              {% else %}
              <li class="nav-item"> <a style="color:white;padding-top: 1.5vw; font-size: 25px; padding-left: 60vw " class="nav-link" href="{% url 'social:begin' 'google-oauth2' %} ">Login</a>
              </li>
              {% endif %}

            </ul>
          </div>
        </a>
        </nav>

  <div>
    <br></br>
    <center><strong><h1 style="color:white;text-decoration: underline overline;">EVENT</h1></strong></center>

    <a onclick=clicked() class="btn btn-light btn-md" id="daftar_event" style="margin-left:5vw">Hide My Event</a>


<div class="row" style="margin:3vw; margin-top:0vw">
    <div class="col-md-9" id="akor">
      <dl class="accordion text">
        {% for event in eventt %}
        <div style="margin-top:2vw; margin-bottom: 1vw;">
            <dt style="opacity: 0.95;"><a href=""><h4>&nbsp;{{event.judul}}</h4></a></dt>

            {% if user.is_authenticated %}
            <dd name="hide" style="background-color:#bfbfbf">
              <p style="margin:1vw">
                <br>
                <strong>{{event.tempat}}</strong><br>
                {{event.deskripsi}}</p><a class="btn btn-primary" style="font-size: 1.5vw; float:right; margin:2vw;margin-top:0vw" href="/RegParticipant/Cek_Member/" role="button"> Register </a>
              <br><br></br>
            </dd>

            {% else %}
            <dd name="hide" style="background-color:#bfbfbf">
              <p style="margin:1vw">
                <br>
                <strong>{{event.tempat}}</strong><br>
                {{event.deskripsi}}</p><a class="btn btn-danger disabled" style="font-size: 1.5vw; float:right; margin:2vw;margin-top:0vw" href="" role="button"> Must Login to Register </a>
              <br><br></br>
            </dd>
            {% endif %}

        </div>
        {% endfor %}
      </dl>
    </div>

    <div id="my_list" class="col-md-3 ">
      <table class = "table table-striped table-dark" style="opacity: 0.8">
        <thead>
          <th style="text-align:center">My Event List</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

</div>

</body>
</html>