<!DOCTYPE html>
{% load static %}
<html lang="en">

<!-- ###################################################################################################################################################################        -->
<head>
    <title>Form Testimoni Neavent</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/zQbyEia.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <style type="text/css">
		body{
			/* background: linear-gradient(to right, #809fff, #d966ff);  */
            background-image: url("https://vignette.wikia.nocookie.net/animal-jam-clans-1/images/c/ca/Galaxy-0.jpg/revision/latest?cb=20160425215139");
        }
        
		#myInput{
			background-image: url('https://img.icons8.com/cotton/50/000000/search.png');
		  	background-position: right;
		  	background-repeat: no-repeat;
		  	width: 30%;
		  	font-size: 16px;
		  	padding: 12px 20px 12px 40px;
		  	border: 1px solid #ddd;
		  	margin-bottom: 12px;
        }
    

    </style>
</head>
<!-- ###################################################################################################################################################################        -->

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
		<a class="navbar-brand" href="#" style="background-color: white;" ></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: black;">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav" style="text-align: center; ">
					<li class="nav-item active">
						<a class="nav-link" href="/">
						<img style="float: left; " width="60px" height="70px"src="https://i.imgur.com/zQbyEia.png" >
						</a>
					</li>
					<li class="nav-item active">
						<a style="color:white; padding-top: 1.5vw;font-size: 25px; padding-left: 3vw" class="nav-link" href="/About/">Profile</a>
					</li>
					<li class="nav-item">
                        <a style="color:white; padding-top: 1.5vw;font-size: 25px; " class="nav-link" href="/News/">News</a>
                    </li>
                    <li class="nav-item">
						<a style="color:white;  padding-top: 1.5vw; font-size: 25px" class="nav-link" href="/Event/">Event</a>
					</li>
					
				</ul>
			</div>
		</a>
	</nav>

    <div style="background-color:rgba(255, 255, 255, 0.8); padding-left: 2%;padding-right: 2% ; align-content: center;align-items: center">
    <br>

    <div class="front">
        <h1 style="text-align:center; "><strong>Form Testimoni</strong></h1>
            <div>
                <br>
            </div>
            <section class = "result">
            
            <form id = "" method="POST" action="{% url 'About:About' %}">
                {% csrf_token %}
                {{formtesti.as_p}}
                <div>
                    <strong><label class = "text">{{field.label}}</label></strong>{{field}}
                </div>
                <center>
                <div class = "submit-btn" style="align-items: center">
                    <input type = "submit" value="Submit">
                    <br>
                    <br>
                </div>
            </center>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>


</body>
</html>
