body{
	background-image: url(https://image.ibb.co/eHOoqf/cc.png);
	background-size: auto;

}
dt{
    border: 0.05vw solid #808080;
    background-color: #808080;
}
dd{
	border: 0.05vw solid #808080;
    background-color: #808080;
	opacity: 0.8;
}
h4{
	color:white !important;
}	