/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.front{
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
    z-index: -1; 
    position:relative;
}