body {
    background-color:#ffb3d1;
}

#judul{
    color: black;
}

body,h1,h2,h3{
    font-family: "Raleway", sans-serif
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-content: center;
    align-items: center;
}

.inputForm
{
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    behavior:url("border-radius.htc");
}

.atas { 
    -webkit-border-radius:50px; 
    -moz-border-radius:50px;     
} 
    
.atas a { 
    -webkit-border-radius:50px; 
    -moz-border-radius:50px; 

}
    

#myInput{
    background-image: url('https://img.icons8.com/cotton/50/000000/search.png');
      background-position: right;
      background-repeat: no-repeat;
      width: 30%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
}

@media (min-width: 576px){

.jumbotron {
    padding: 10rem 10rem;
    margin-bottom: 2rem; 
    border-radius: 3rem;
    height: 500px;
}

div {
    display: block;
}

.ml1 {
    font-weight: 900;
    font-size: 7em;
    text-align: center;
    align-content: center;
    align-items: center;
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
}

.ml1 .line1 { 
    top: 0; 
}

.ml1 .line2 { 
    bottom: 0; 

}
}

.footer {
    opacity: 1; 
    background-color: rgba(0,0,0,0.6); 
    align-content: center;
    align-items: center
  }