body {
    background-color:#ffb3d1;
}

#judul{
    color: black;
}

body,h1,h2,h3{
    font-family: "Raleway", sans-serif
}

@media (min-width: 576px){

  .jumbotron {
      padding: 10rem 10rem;
      margin-bottom: 2rem;
      background-color: #000000;
      border-radius: .3rem;
      height: 400px;
  }
  
  div {
      display: block;
  }
  
}
  
.ml11 {
  font-weight: 900;
  font-size: 2.5em;
  color: #ffffff;
  text-align: center;
  align-content: center;
  font-size: 6rem;
  font-family: 'Libre Baskerville', serif;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

