body{
	background-image: url(https://image.ibb.co/eHOoqf/cc.png);
	background-size: auto;
}

dd{
	background-color: #bfbfbf !important;
	opacity: 0.8;
}

dt{
	background-color: #808080;
	opacity: 0.9;
}


h4{
	color:white !important;
}	