{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>RegParticipant</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/RegParticipant.css' %}" type="text/css">
	<script src="{% static 'js/RegParticipant.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
</head>

<body background=https://i.imgur.com/fVK4MVE.png>
	<!-- NAVIGATION BAR -->
    <nav class="navbar transparent navbar-expand-lg navbar-dark" style="background-color: black;">
			<a class="navbar-brand" href="#" style="background-color: white;" ></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: black;">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav" style="text-align: center; ">
				  <li class="nav-item active">
					<a class="nav-link" href="/">
					<img style="float: left; " width="60px" height="70px"src="https://i.imgur.com/zQbyEia.png" >
					</a>
				  </li>
				  <li class="nav-item active">
					<a style="color:white; padding-top: 1.5vw;font-size: 25px; padding-left: 3vw" class="nav-link" href="/About/">Profile</a>
				  </li>
				  <li class="nav-item">
								<a style="color:white; padding-top: 1.5vw;font-size: 25px; " class="nav-link" href="/News/">News</a>
							</li>
							<li class="nav-item">
					<a style="color:white;  padding-top: 1.5vw; font-size: 25px" class="nav-link" href="/Event/">Event</a>
				  </li>
				  <li class="nav-item"> <a style="color:white;padding-top: 1.5vw; font-size: 25px; padding-left: 65vw " class="nav-link" href="/RegParticipant/">Join us !</a>
				  </li>
				</ul>
			  </div>
			</a>
			</nav>
</body>
</html>