{% load staticfiles %}
{% load static %}

<body>
		{% include 'navbar_Participant.html' %}
	<div class="container" >
		
		<div>
			<br>
		</div>

		<div class="row">
			<!-- COLUMN UNTUK ISI INPUTAN FORM -->
			<div class="col-sm-8" style="background-color: white; opacity: 0.7; ">
			<br>
			<div class="front">
				<h1 style="text-align:center; bold"><strong>Event Registration</strong></h1>
					<div>
						<br>
					</div>
					<section class = "result">
					
					<form id = "form_participant" method="POST" action="{% url 'RegParticipant:RegParticipant_event' %}">
						{% csrf_token %}
						{{formpeserta.as_p}}
						<div>
							<strong><label class = "text">{{field.label}}</label></strong>{{field}}
						</div>
						<div class = "submit-btn" style="align-items: center">
							<input type = "submit" value="Submit">
							<br>
							<br>
						</div>
					</form>
				</div>
			</div>

			<!-- COLUMN UNTUK MENAMPILKAN DAFTAR PESERTA YANG SUDAH TERDAFTAR -->
			<div class="col-sm-4" style="background-color: whitesmoke; opacity: 0.7;">
				<div class="front">
					<table class = "table table-striped table-dark" style="margin: 1%">
						<div>
							<br>
						</div>	
						<thead>
							<th style="text-align:center">List of Participant</th>
							<th style="text-align:center">Name of Event</th>
						</thead>
						<tbody>
							{% for i in usernames %}
							<tr>
								<td>{{i.username}}</td>
								<td>{{i.event}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
	<script>
    function myFunction() {
      alert("Hello! I am an alert box!");
    }
    </script>
		</div>
	</div> 
	
</body>
</html>
            