.bodyy{
	background-image: url(https://scontent.fcgk4-1.fna.fbcdn.net/v/t1.0-9/44398789_2293939477300694_6108681033903767552_n.jpg?_nc_cat=111&_nc_ht=scontent.fcgk4-1.fna&oh=94e86883549d3832a9f13b914d8a7379&oe=5C3D50B6);
	background-size: cover;
}

.welcome{
	font-family: 'Raleway', sans-serif;
	font-size: 7vw;
}

.sub{
	font-family: 'Roboto', sans-serif;
	font-size: 1.3vw;
}
