{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>News</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/zQbyEia.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/News.css" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }

  </style>
</head>

<body>
    <nav class="navbar transparent navbar-expand-lg navbar-dark" style="background-color: black;">
        <a class="navbar-brand" href="#" style="background-color: white;" ></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: black;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="text-align: center; ">
              <li class="nav-item active">
                <a class="nav-link" href="/">
                <img style="float: left; " width="60px" height="70px"src="https://i.imgur.com/zQbyEia.png" >
                </a>
              </li>
              <li class="nav-item active">
                <a style="color:white; padding-top: 1.5vw;font-size: 25px; padding-left: 3vw" class="nav-link" href="/About/">Profile</a>
              </li>
              <li class="nav-item">
                            <a style="color:white; padding-top: 1.5vw;font-size: 25px; " class="nav-link" href="/News/">News</a>
                        </li>
                        <li class="nav-item">
                <a style="color:white;  padding-top: 1.5vw; font-size: 25px" class="nav-link" href="/Event/">Event</a>
              </li>
              <li class="nav-item"> <a style="color:white;padding-top: 1.5vw; font-size: 25px; padding-left: 65vw " class="nav-link" href="/RegParticipant/">Join us !</a>
              </li>
            </ul>
          </div>
        </a>
        </nav>


  <div>
    <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
      </ul>

    <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-color:#808080; height: 36.5vw; opacity: 0.8">
          <center style="color: white">
            <h1 style="padding-top: 14vw; font-size:5vw"> NEWS </h1>
          </center>
        </div>


        {% for news in Newses %}
        <div class="carousel-item" style="height: 30vw">
          <center style="color: white; margin: 6.5vw;">
            <h1 style="background-color:#696969; opacity: 0.8; font-size: 3vw"> {{ news.judul }} </h1>
            <div style="background-color: #808080; text-align: justify; opacity: 0.8"> 
              <p style="margin: 2vw; font-size: 1.3vw"> {{ news.deskripsi }} </p>
            </div>
          </center>
        </div>
        {% endfor %}
      </div>

    <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
  </div>
</body>
</html>
